<div class='form-header'>
  <h1 class='title'>Login</h1>
  <div class='body'>
    <p>In order to submit your work to <span class='underlined'><%= UntitledCWC::Application::WEBSITE_NAME_NO_PUNC %></span>, you'll have to be a member of the University of Ottawa Creative Writing Club.</p>
    <p>You can visit our <span class='about'><a href='#'>about</a></span> page to learn more about participating, or sign up with your @uOttawa.ca email below.</p>
  </div>
</div>

<%= simple_form_for :session, url: login_path, html: { class: 'form' } do |f| %>

  <!-- Errors -->
  <% if params[:noauth] %>
    <div class='alert alert-danger'>You must be logged in to perform that action.</div>
  <% end %>

  <% if @login_error %>
    <div class='alert alert-danger'>Your email or password is incorrect.</div>
  <% end %>
  <!-- end errors -->

  <%= f.input :email,
        required: true,
        label: 'Email',
        input_html: { class: 'flat-input' },
        label_html: { class: 'input-label' } %>

  <%= f.input :password,
        required: true,
        label: 'Password',
        input_html: { class: 'flat-input' },
        label_html: { class: 'input-label' } %>

  <div class='form-submit'>
    <%= f.submit 'Login', :class => 'btn btn-lg btn-theme' %>
  </div>

<% end %>
