<div id='forgot-password'>
  <div class='form-header'>
    <h1 class='title'>Reset Password</h1>
  </div>

  <div id='forgot-password-form'>
    <%= simple_form_for @user, url: password_reset_path(params[:id])), html: { class: 'form horizontal-form' }, wrapper: :horizontal_form do |f| %>

      <%= hidden_field_tag :email, @user.email %>

      <%= f.input :password,
            required: true,
            label: 'Password',
            input_html: { class: 'flat-input' },
            label_html: { class: 'input-label' } %>

      <%= f.input :password_confirmation,
            required: true,
            label: 'Confirm Password',
            input_html: { class: 'flat-input' },
            label_html: { class: 'input-label' } %>

      <div class='form-submit'>
        <%= f.submit 'Update password', :class => 'btn btn-lg btn-theme' %>
      </div>

    <% end %>
  </div>
</div>
