<h1 class='work-header'>Submit a new work</h1>
<p>Looking for feedback on something you've written at a meeting? Maybe you just want to share a short excerpt from your upcoming novel. Whatever it is, write it up here, add some tags so others can find it, and hopefully you'll get some compliments, or constructive criticism!</p>

<%= simple_form_for :works, url: works_path, html: { class: 'form-horizontal' }, wrapper: :horizontal_form, wrapper_mappings: { boolean: :horizontal_boolean } do |f| %>
  <%= f.input :title, required: true, label: 'Title', error: 'You must give this work a title' %>
  <%= f.input :body, :as => :text, required: true, label: 'Body', error: 'A blank work cannot be submitted', placeholder: 'Once upon a time...' %>
  <%= f.input :search_terms, required: true, label: 'Tags', error: 'Give this a tag so others can find it', placeholder: 'Type of work, genres, settings, etc.' %>
  <%= f.input :incomplete, :as => :boolean, checked_value: true, unchecked_value: false, inline_label: 'In progress?', hint: 'Check this box if this isn\'t a full story or you want to finish it later' %>
  <%= f.submit 'Save' %>
<% end %>
