<div class='work'>
  <h1 id='title'><%= @work.title %></h1>
  <!-- TODO: show the options to admins as well -->
  <h2 id='author'>Written by
    <%= link_to @work.user.name, users_path(@work.user) %>
    <% if current_user == @work.user %>
      <span id='options'>&nbsp;(<%= link_to 'edit', edit_work_path(@work) %> - <%= link_to 'delete', work_path(@work), method: :delete, data: { confirm: 'Are you sure you want to delete this work? It cannot be recovered.' } %>)
      </span>
    <% end %>
  </h2>
  <% if @work.incomplete %>
    <p id='incomplete'>The author has marked this work as incomplete.</p>
  <% end %>
  <hr />
  <p id='body'><%= @work.body %></p>
  <p id='tags'><strong>Tags:</strong> <%= @work.tag_list %></p>

  <hr />
  <div id='comments'>
    <h2><%= pluralize(@work.comments.count, 'comments') %></h2>
    <% if @work.comments.count > 0 %>
      <%= render :partial => @work.comments %>
    <% else %>
      <hr />
    <% end %>

    <%= render 'comments/form' %>
  </div>
</div>
