<div id='notifications' class='centered-content<%= mobile_modifier %>'>
  <h1 class='title'><%= @title %></h1>
  <table id='notifications-table' class='table table-hover'>
    <tbody>
      <% @all_notifications.each do |notification| %>
        <% if notification.category == 1 %>
          <!-- Comment notification -->
          <tr class='clickable-row' data-url='/works/<%= notification.link %>'>
            <th class='<%= 'info' if @unread_notification_ids.include? notification.id %>'>
              <svg class='svg-notification' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg'>
                <g transform='matrix(1.2,0,0,1.2,-2.4,-2.4)'>
                  <path d='M21.99,4C21.99,2.9 21.1,2 20,2L4,2C2.9,2 2,2.9 2,4L2,16C2,17.1 2.9,18 4,18L18,18L22,22L21.99,4ZM18,14L6,14L6,12L18,12L18,14ZM18,11L6,11L6,9L18,9L18,11ZM18,8L6,8L6,6L18,6L18,8Z' />
                </g>
              </svg>
            </th>
            <td class='notification-body <%= 'info' if @unread_notification_ids.include? notification.id %>'>
              <span class='italicized'><%= @notification_content[notification.id][0] %></span> made a comment on your work, '<%= @notification_content[notification.id][1] %>'
            </td>
          </tr>
        <% elsif notification.category == 2 %>
          <!-- Favourite notification -->
          <tr class='clickable-row' data-url='/works/<%= notification.link %>'>
            <th class='<%= 'info' if @unread_notification_ids.include? notification.id %>'>
              <svg class='svg-notification' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg'>
                <g transform='matrix(1.2,0,0,1.2,-2.4,-2.61)'>
                  <path d='M12,21.35L10.55,20.03C5.4,15.36 2,12.28 2,8.5C2,5.42 4.42,3 7.5,3C9.24,3 10.91,3.81 12,5.09C13.09,3.81 14.76,3 16.5,3C19.58,3 22,5.42 22,8.5C22,12.28 18.6,15.36 13.45,20.04L12,21.35Z' />
                </g>
              </svg>
            </th>
            <td class='notification-body <%= 'info' if @unread_notification_ids.include? notification.id %>'>
              <span class='italicized'><%= @notification_content[notification.id][0] %></span> has favourited one of your works, '<%= @notification_content[notification.id][1] %>'
            </td>
          </tr>
        <% elsif notification.category == 3 %>
          <!-- Update notification -->
          <tr class='clickable-row' data-url='/works/<%= notification.link %>'>
            <th class='<%= 'info' if @unread_notification_ids.include? notification.id %>'>
              <svg class='svg-notification' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg'>
                <g transform='matrix(1.33333,0,0,1.33333,-4.00162,-4)'>
                  <path d='M21,10.12L14.22,10.12L16.96,7.3C14.23,4.6 9.81,4.5 7.08,7.2C4.35,9.91 4.35,14.28 7.08,16.99C9.81,19.7 14.23,19.7 16.96,16.99C18.32,15.65 19,14.08 19,12.1L21,12.1C21,14.08 20.12,16.65 18.36,18.39C14.85,21.87 9.15,21.87 5.64,18.39C2.14,14.92 2.11,9.28 5.62,5.81C9.13,2.34 14.76,2.34 18.27,5.81L21,3L21,10.12ZM12.5,8L12.5,12.25L16,14.33L15.28,15.54L11,13L11,8L12.5,8Z' />
                </g>
              </svg>
            </th>
            <td class='notification-body <%= 'info' if @unread_notification_ids.include? notification.id %>'>
              <span class='italicized'><%= @notification_content[notification.id][0] %></span> has updated '<%= @notification_content[notification.id][1] %>', a work that you've favourited. Go see what they've changed!
            </td>
          </tr>
        <% elsif notification.category == 4 %>
          <!-- New work notification -->
          <tr class='clickable-row' data-url='/works/<%= notification.link %>'>
            <th class='<%= 'info' if @unread_notification_ids.include? notification.id %>'>
              <svg class='svg-notification' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg'>
                  <path d='M0 0h24v24H0z' fill='none' />
                  <path d='M23 12l-2.44-2.78.34-3.68-3.61-.82-1.89-3.18L12 3 8.6 1.54 6.71 4.72l-3.61.81.34 3.68L1 12l2.44 2.78-.34 3.69 3.61.82 1.89 3.18L12 21l3.4 1.46 1.89-3.18 3.61-.82-.34-3.68L23 12zm-10 5h-2v-2h2v2zm0-4h-2V7h2v6z'/>
              </svg>
            </th>
            <td class='notification-body <%= 'info' if @unread_notification_ids.include? notification.id %>'>
              <span class='italicized'><%= @notification_content[notification.id][0] %></span> has written a new work, entitled '<%= @notification_content[notification.id][1] %>'. Why not go check it out?
            </td>
          </tr>
        <% elsif notification.category == 5 %>
          <!-- New novel notification -->
          <tr class='clickable-row' data-url='/novels/<%= notification.link %>'>
            <th class='<%= 'info' if @unread_notification_ids.include? notification.id %>'>
              <svg class='svg-notification' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg'>
                  <path d='M0 0h24v24H0z' fill='none' />
                  <path d='M23 12l-2.44-2.78.34-3.68-3.61-.82-1.89-3.18L12 3 8.6 1.54 6.71 4.72l-3.61.81.34 3.68L1 12l2.44 2.78-.34 3.69 3.61.82 1.89 3.18L12 21l3.4 1.46 1.89-3.18 3.61-.82-.34-3.68L23 12zm-10 5h-2v-2h2v2zm0-4h-2V7h2v6z'/>
              </svg>
            </th>
            <td class='notification-body <%= 'info' if @unread_notification_ids.include? notification.id %>'>
              <span class='italicized'><%= @notification_content[notification.id][0] %></span> has created a new novel, '<%= @notification_content[notification.id][1] %>'. It's probably pretty great.
            </td>
          </tr>
        <% else %>
          <!-- Other notifications -->
          <tr class='clickable-row' data-url='<%= notification.link %>'>
            <th>
              <svg class='svg-notification' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg'>
                <g transform='matrix(1.33333,0,0,1.33333,-4.00162,-4)'>
                  <path d='M21,10.12L14.22,10.12L16.96,7.3C14.23,4.6 9.81,4.5 7.08,7.2C4.35,9.91 4.35,14.28 7.08,16.99C9.81,19.7 14.23,19.7 16.96,16.99C18.32,15.65 19,14.08 19,12.1L21,12.1C21,14.08 20.12,16.65 18.36,18.39C14.85,21.87 9.15,21.87 5.64,18.39C2.14,14.92 2.11,9.28 5.62,5.81C9.13,2.34 14.76,2.34 18.27,5.81L21,3L21,10.12ZM12.5,8L12.5,12.25L16,14.33L15.28,15.54L11,13L11,8L12.5,8Z' />
                </g>
              </svg>
            </th>
            <td class='notification-body'>
              <%= notification.body %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
