<h1 class='work-header'>Sign up</h1>
<p>In order to submit your work to <span class=''>Untitled</span>, you'll have to be a member of the University of Ottawa Creative Writing Club.</p>
<p>You can visit our <span class='about'><a href='#'>about</a></span> page to learn more about participating, or sign up with your @uOttawa.ca email below.</p>

<%= simple_form_for :user, url: users_path, html: { class: 'form-horizontal' }, wrapper: :horizontal_form, wrapper_mappings: { boolean: :horizontal_boolean } do |f| %>
  <%= f.input :name, required: true, label: 'Username', error: 'You must provide a username' %>
  <%= f.input :password, required: true, label: 'Password', error: 'Your passwords must match' %>
  <%= f.input :password_confirmation, required: true, label: 'Password again', error: 'Your passwords must match' %>
  <%= f.input :email, required: true, label: 'Email', error: 'You must provide a @uOttawa.ca email' %>
  <%= f.input :likes_to_write, required: true, :as => :text, label: 'What do you like to write?', placeholder: 'Genres, novels, poetry, etc.' %>
  <%= f.input :about, required: true, :as => :text, label: 'Tell us about yourself' %>
  <%= f.submit 'Sign up' %>
<% end %>
