<div id='user' class='centered-content<%= mobile_modifier %>'>
  <h1 class='title centered'><%= @user.name %>'s Profile</h1>
  <% if !current_user.blank? && (current_user == @user || current_user.is_admin?) && show_admin_options %>
    <div class='centered'>
      <span id='user-options'>(<%= link_to 'Edit', edit_user_path(@user) %> - <%= link_to 'Delete', user_path(@user), method: :delete, data: { confirm: 'Are you sure you want to delete this user? This action cannot be undone.' } %>)
      </span>
    </div>
  <% end %>
  <% unless @user.last_seen.blank? %>
    <p id='last-seen'>They were last seen <%= time_ago_in_words(@user.last_seen) %> ago<p>
  <% end %>

  <% unless @user.nanowrimo_name.blank? %>
    <hr class='thick' />
    <h3 class='title'>NaNoWriMo Statistics</h3>

    <p id='nano-info'>
      <strong>Username:</strong> <%= link_to @user.nanowrimo_name, 'http://nanowrimo.org/participants/' + @user.nanowrimo_name, target: '_blank' %><br />
      <strong>Wordcount:</strong> <%= @wordcount %></p>
  <% end %>

  <% if !current_user.blank? && current_user != @user %>
    <div class='centered'>
      <% if current_user.follow_ids.include?(@user.id) %>
        <%= link_to 'Unfollow', unfollow_path(user: params[:id]), method: :post %>
      <% else %>
        <%= link_to 'Follow this user', follow_path(user: params[:id]), method: :post %>
      <% end %>
    </div>
  <% end %>

  <hr class='thick' />

  <h3 class='title'>About <%= @user.name %></h2>
  <%= simple_format @user.about, class: 'about' %>

  <h3 class='title'>What do they like to write?</h2>
  <p class='likes'><%= @user.tag_list %></p>

  <hr class='thick' />

  <h3 class='title'>Here's what they've written</h3>

  <% if !current_user.blank? && current_user != @user %>
    <% if current_user.follow_ids.include?(@user.id) %>
      <%= link_to 'Unfollow', unfollow_path(user: params[:id]), method: :post %>
    <% else %>
      <%= link_to 'Follow this user', follow_path(user: params[:id]), method: :post %>
    <% end %>
  <% end %>

  <% @works.each do |work| %>
    <h3 class='title'><%= link_to work.title, work %></h3>
    <p class='time'><%= time_ago_in_words(work.created_at) %> ago</p>
    <div class='excerpt'>
      <%= simple_format work.body[0..length_of_preview(work.body)].strip() + '...' %>
    </div>

    <% if work != @works.last %>
      <hr />
    <% end %>
  <% end %>
  <div class='centered'>
    <%= will_paginate @works %>
  </div>
</div>
