<div id='about' class='centered-content<%= mobile_modifier %>'>
  <% @abouts.each do |about| %>
    <h2 class='title centered'><%= about.title %></h2>
    <% if !current_user.blank? && current_user.is_admin? %>
      <p class='about-options'><%= link_to 'Edit', edit_about_path(about) %> | <%= link_to 'Delete', about_path(about), method: :delete, data: { confirm: 'Are you sure you want to delete this section? It cannot be recovered.' } %></p>
    <% end %>
    <%= simple_format about.body, class: 'body' %>
    <% unless about.link.blank? %>
      <p>
        <% unless about.link_title.blank? %>
          <%= link_to about.link_title, about.link, class: 'plain-link' %>
        <% else %>
          <%= link_to about.link, about.link, class: 'plain-link' %>
        <% end %>
      </p>
    <% end %>
    <p class='aside'>This information was last updated <%= about.updated_at.strftime('%B %-d, %Y') %></p>
    <hr class='thick' />
  <% end %>

  <% if !current_user.blank? && current_user.is_admin? && show_admin_options %>
    <p id='new-about'><%= link_to 'Add new section', new_about_path %></p>
    <hr class='thick' />
  <% end %>

  <h2 class='title centered'>Meet the Executive</h2>
  <div id='admins'>
    <% @admins.each do |user| %>
      <div class='admin'>
        <h3 class='title'><%= link_to user.name, user_path(user) %></h3>
        <% unless user.admin_description.blank? %>
          <%= simple_format user.admin_description, class: 'body' %>
        <% else %>
          <%= simple_format user.about[0..500], class: 'body' %>
        <% end %>

        <% unless user == @admins.last %>
         <hr />
        <% end %>
      </div>
    <% end %>
  </div>
</div>
