<div class='index'>
  <div id='banner<%= mobile_modifier %>'>
    <div class='banner-inner'>
      <% unless browser.device.mobile? %>
        <h1><%= UntitledCWC::Application::WEBSITE_NAME %></h1>
        <h2>Creative Writing at uOttawa</h2>
      <% else %>
        <h1><%= UntitledCWC::Application::WEBSITE_NAME %></h1>
      <% end %>
    </div>
    <% unless browser.device.mobile? %>
      <div class='about-link'>
        <h4 class='title centered plain-link'><%= link_to 'Learn more', '/about' %></h4>
      </div>
    <% end %>
  </div>

  <div id='recent-works' class='centered-content<%= mobile_modifier %>'>
    <h2 class='title'>Recent works &amp; novels</h2>

    <% @recent.each do |workOrNovel| %>
      <% if workOrNovel.is_a? Work %>
        <% work = workOrNovel %>
        <h3 class='title'><%= link_to work.title, work %></h3>
        <p class='author'>
          <strong>
            <% unless work.user.blank? %>
              <% if work.is_anonymous %>
                anonymous
              <% else %>
                <%= link_to work.user.name, user_path(work.user) %>
              <% end %>
            <% else %>
              <span class='time'>[Deleted]</span>
            <% end %>
          </strong> <span class='time'> - <%= time_ago_in_words(work.created_at) %> ago</span>
        </p>
        <div class='excerpt'>
          <%= simple_format work.body[0..length_of_preview(work.body)].strip() + '...' %>
        </div>

        <% if work != @recent.last %>
          <hr />
        <% end %>
      <% else %>
        <% novel = workOrNovel %>
        <h3 class='title'><%= link_to novel.title, novel %></h3>
        <p class='author'>
          <strong>
            <% unless novel.user.blank? %>
              <%= link_to novel.user.name, user_path(novel.user) %>
            <% else %>
              <span class='time'>[Deleted]</span>
            <% end %>
          </strong> <span class='time'> - <%= time_ago_in_words(novel.created_at) %> ago</span>
        </p>
        <div class='excerpt'>
          <%= simple_format novel.description[0..length_of_preview(novel.description)].strip() + '...' %>
        </div>

        <% if novel != @recent.last %>
          <hr />
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
