<footer id='footer'>
  <%= link_to get_home_link do %>
    <svg class='svg-footer' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'>
      <g id='Layer1' transform='matrix(0.24,0,0,0.24,0,0)'>
          <g id='Point' transform='matrix(1.91667,0.0331376,-0.0331376,1.91667,5.40965,-5.19636)'>
              <path d='M15.606,51.383L13.708,54.648C13.708,54.648 16.829,27.856 34.968,6.788C18.935,28.68 15.606,51.383 15.606,51.383Z' />
          </g>
          <g transform='matrix(1.58476,0.105673,-0.12754,1.9127,27.9645,-9.46743)'>
              <path d='M8.079,49.218C6.901,48.395 4.31,46.291 3.138,43.042C3.138,43.042 3.682,40.373 5.165,36.299C5.444,36.847 6.994,39.673 10.147,41.629C6.703,38.443 5.839,35.521 5.688,34.907C6.549,32.688 7.664,30.143 9.084,27.436C9.738,28.514 11.221,30.591 13.699,32.134C10.883,38.743 9.133,44.775 8.079,49.218ZM13.7,32.13C11.25,29.858 10.11,27.722 9.605,26.464C10.362,25.073 11.201,23.645 12.126,22.203C12.5,23.337 13.49,25.764 15.633,27.87C14.939,29.309 14.296,30.733 13.7,32.13ZM15.641,27.854C13.571,24.86 12.992,22.364 12.831,21.126C15.321,17.406 18.396,13.626 22.172,10.151C22.429,11.355 22.891,12.792 23.717,14.229C20.459,18.736 17.802,23.374 15.641,27.854ZM9.328,49.526C11.04,42.057 15.93,25.27 27.894,8.934C26.403,10.665 25.015,12.434 23.72,14.224C23.105,12.433 22.84,10.88 22.753,9.625C25.353,7.299 28.275,5.122 31.556,3.206L31.556,3.219C31.205,5.284 30.819,7.309 30.407,9.284C29.377,9.905 28.054,10.54 26.397,11.057C27.875,10.892 29.181,10.491 30.246,10.045C28.56,17.947 26.46,25.046 24.485,30.843C22.855,31.265 19.613,31.816 15.379,31.101C19.198,32.563 23.156,32.107 24.098,31.968C20.943,41.041 18.206,46.642 18.151,46.676C15.205,48.526 10.937,49.292 9.328,49.526Z' />
          </g>
      </g>
    </svg>
  <% end %>
  <ul id='footer-links'>
    <li class='footer-link'><%= link_to 'About', about_club_path %></li>
    <li class='footer-link'><%= link_to 'Facebook', 'https://www.facebook.com/groups/516871465136612', target: '_blank' %></li>
    <li class='footer-link'><%= link_to 'GitHub', 'https://github.com/joseph-roque/thebrokenquillsociety', target: '_blank' %></li>
    <% if !current_user.blank? && current_user.is_admin? %>
      <li class='footer-link'><%= link_to 'Admin', admin_options_path %></li>
    <% end %>
  </div>
</footer>
