<header id='header'>

  <!-- begin website title -->
  <% if current_page?(root_path) %>
    <%= link_to '#', class: 'logo' do %><%= image_tag 'logo.png' %><% end %>
  <% else %>
    <%= link_to root_path, class: 'logo' do %><%= image_tag 'logo.png' %><% end %>
  <% end %>
  <!-- end website title -->

  <% unless current_user.blank? %>
    <nav id='nav'>
      <div class='nav-wrapper'>
        <!-- link to user profile -->
        <h2 id='profile-link'><%= link_to current_user.name, user_path(current_user) %></h2>
        <!-- end link to user profile -->

        <!-- link to profile -->
        <% if current_user.is_admin? %>
          <%= link_to admin_options_path, id: 'admin-profile-svg' do %>
            <svg class='svg-header svg-small' viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none"/>
              <path d="M19.43 12.98c.04-.32.07-.64.07-.98s-.03-.66-.07-.98l2.11-1.65c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.3-.61-.22l-2.49 1c-.52-.4-1.08-.73-1.69-.98l-.38-2.65C14.46 2.18 14.25 2 14 2h-4c-.25 0-.46.18-.49.42l-.38 2.65c-.61.25-1.17.59-1.69.98l-2.49-1c-.23-.09-.49 0-.61.22l-2 3.46c-.13.22-.07.49.12.64l2.11 1.65c-.04.32-.07.65-.07.98s.03.66.07.98l-2.11 1.65c-.19.15-.24.42-.12.64l2 3.46c.12.22.39.3.61.22l2.49-1c.52.4 1.08.73 1.69.98l.38 2.65c.03.24.24.42.49.42h4c.25 0 .46-.18.49-.42l.38-2.65c.61-.25 1.17-.59 1.69-.98l2.49 1c.23.09.49 0 .61-.22l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.65zM12 15.5c-1.93 0-3.5-1.57-3.5-3.5s1.57-3.5 3.5-3.5 3.5 1.57 3.5 3.5-1.57 3.5-3.5 3.5z"/>
            </svg>
          <% end %>
        <% else %>
          <%= link_to user_path(current_user), id: 'admin-profile-svg' do %>
            <svg class='svg-header svg-small' viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none"/>
              <path d="M19.43 12.98c.04-.32.07-.64.07-.98s-.03-.66-.07-.98l2.11-1.65c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.3-.61-.22l-2.49 1c-.52-.4-1.08-.73-1.69-.98l-.38-2.65C14.46 2.18 14.25 2 14 2h-4c-.25 0-.46.18-.49.42l-.38 2.65c-.61.25-1.17.59-1.69.98l-2.49-1c-.23-.09-.49 0-.61.22l-2 3.46c-.13.22-.07.49.12.64l2.11 1.65c-.04.32-.07.65-.07.98s.03.66.07.98l-2.11 1.65c-.19.15-.24.42-.12.64l2 3.46c.12.22.39.3.61.22l2.49-1c.52.4 1.08.73 1.69.98l.38 2.65c.03.24.24.42.49.42h4c.25 0 .46-.18.49-.42l.38-2.65c.61-.25 1.17-.59 1.69-.98l2.49 1c.23.09.49 0 .61-.22l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.65zM12 15.5c-1.93 0-3.5-1.57-3.5-3.5s1.57-3.5 3.5-3.5 3.5 1.57 3.5 3.5-1.57 3.5-3.5 3.5z"/>
            </svg>
          <% end %>
        <% end %>
        <!-- end link to profile -->

        <!-- link to favourite works -->
        <a href='/faves' id='fave-svg'>
          <svg class='svg-header svg-small' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'>
              <g transform='matrix(1.2,0,0,1.2,-2.4,-2.61)'>
                  <path d='M16.5,3C14.76,3 13.09,3.81 12,5.09C10.91,3.81 9.24,3 7.5,3C4.42,3 2,5.42 2,8.5C2,12.28 5.4,15.36 10.55,20.04L12,21.35L13.45,20.03C18.6,15.36 22,12.28 22,8.5C22,5.42 19.58,3 16.5,3ZM12.1,18.55L12,18.65L11.9,18.55C7.14,14.24 4,11.39 4,8.5C4,6.5 5.5,5 7.5,5C9.04,5 10.54,5.99 11.07,7.36L12.94,7.36C13.46,5.99 14.96,5 16.5,5C18.5,5 20,6.5 20,8.5C20,11.39 16.86,14.24 12.1,18.55Z' />
              </g>
          </svg>
        </a>
        <!-- end link to favourite works -->

        <!-- link to submit new work -->
        <a href='/works/new' id='new-svg'>
          <svg class='svg-header svg-small' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'>
              <g transform='matrix(1.71429,0,0,1.71429,-8.57143,-8.57143)'>
                  <path d='M19,13L13,13L13,19L11,19L11,13L5,13L5,11L11,11L11,5L13,5L13,11L19,11L19,13Z' />
              </g>
          </svg>
        </a>
        <!-- end link to submit new work -->

        <!-- link to logout -->
        <a href='/logout' id='logout-svg'>
          <svg class='svg-header svg-small' viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" >
              <g transform="matrix(1.33333,0,0,1.33333,-4,-4)">
                  <path d="M13,3L11,3L11,13L13,13L13,3ZM17.83,5.17L16.41,6.59C17.99,7.86 19,9.81 19,12C19,15.87 15.87,19 12,19C8.13,19 5,15.87 5,12C5,9.81 6.01,7.86 7.58,6.58L6.17,5.17C4.23,6.82 3,9.26 3,12C3,16.97 7.03,21 12,21C16.97,21 21,16.97 21,12C21,9.26 19.77,6.82 17.83,5.17Z" />
              </g>
          </svg>
        </a>
        <!-- end link to logout -->

      </div>

      <div class='hint-wrapper'>
        <div id='profile-hint' class='nav-hint alert alert-success' role='alert'>
          <p>View profile</p>
        </div>
        <div id='admin-profile-hint' class='nav-hint alert alert-success' role='alert'>
          <% if current_user.is_admin? %>
            <p>Admin options</p>
          <% else %>
            <p>View profile</p>
          <% end %>
        </div>
        <div id='fave-hint' class='nav-hint alert alert-success' role='alert'>
          <p>My favourites</p>
        </div>
        <div id='new-hint' class='nav-hint alert alert-success' role='alert'>
          <p>New work</p>
        </div>
        <div id='logout-hint' class='nav-hint alert alert-success' role='alert'>
          <p>Logout</p>
        </div>
      </div>
    </nav>

  <% else %>

    <!-- Login / sign up button -->
    <div class='btn-group login'>
      <a class='btn btn-theme btn-login' href='/login'>Login</a>
      <button type='button' class='btn btn-theme btn-login-caret dropdown-toggle' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
        <span class='caret'></span>
        <span class='sr-only'>Toggle Dropdown</span>
      </button>
      <ul class='dropdown-menu pull-right'>
        <li><a href='/login'>Login</a></li>
        <li><a href='/signup'>Sign up</a></li>
      </ul>
    </div>
    <!-- end login button -->

  <% end %>

  <!-- begin search box -->
  <% unless current_user.blank? %>
    <div id='search-slider' class='search-wrapper'>
  <% else %>
    <div id='search-static' class='search-wrapper'>
  <% end %>
    <div class='search-container search-container-transition'>
      <span id='search-icon' class='icon'><i class='fa fa-search'></i></span>
      <%= text_field_tag :q, params[:q], onfocus: 'this.value = this.value', id: 'search-box', placeholder: 'Search works, users...' %>
    </div>
    <div id='btn-search'></div>
  </div>
  <!-- end search box -->

</header>
