<!DOCTYPE html>
<html>
<head>
  <% unless @title.blank? %>
    <title><%= @title %> | <%= UntitledCWC::Application::WEBSITE_NAME %></title>
  <% else %>
    <title><%= UntitledCWC::Application::WEBSITE_NAME %></title>
  <% end %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag params[:controller], "data-turbolinks-track" => false %>
  <% if params[:controller] == 'works'%>
    <%= stylesheet_link_tag 'comments', "data-turbolinks-track" => false %>
  <% end %>
  <%= stylesheet_link_tag 'announcements', "data-turbolinks-track" => true %>
  <%= javascript_include_tag 'application' %>
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js' integrity='sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==' crossorigin='anonymous'></script>

  <!-- meta tags -->
  <meta name="theme-color" content="#99ff99">
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- start header -->
  <%= render 'layouts/header' %>
  <!-- end header -->

  <div id='main'>

    <!-- start sidebar -->
    <div id='sidebar'>
      <%= render 'layouts/sidebar' %>
    </div>
    <!-- end sidebar -->

    <!-- start content -->
    <div id='content'>
      <%= yield %>
    </div>
    <!-- end content -->

    <% if flash[:error] %>
      <!-- start errors -->
      <div id='flash-error'>
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>Error!</strong> <%= flash[:error] %>
        </div>
      </div>
      <!-- end errors -->
    <% end %>

    <% if flash[:success] %>
      <!-- start errors -->
      <div id='flash-success'>
        <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>Success!</strong> <%= flash[:success] %>
        </div>
      </div>
      <!-- end errors -->
    <% end %>

    <% if flash[:notice] %>
      <!-- start notice -->
      <div id='flash-notice'>
        <div class="alert alert-warning alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>Wait!</strong> <%= flash[:notice] %>
        </div>
      </div>
      <!-- end notice -->
    <% end %>

    <% if flash[:alert] %>
      <!-- start notice -->
      <div id='flash-alert'>
        <div class="alert alert-warning alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>Wait!</strong> <%= flash[:alert] %>
        </div>
      </div>
      <!-- end notice -->
    <% end %>
  </div>

</body>
</html>
