<!DOCTYPE html>
<html>
<head>
  <% unless @title.blank? %>
    <title><%= @title %> | <%= UntitledCWC::Application::WEBSITE_NAME %></title>
  <% else %>
    <title><%= UntitledCWC::Application::WEBSITE_NAME %></title>
  <% end %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag params[:controller], "data-turbolinks-track" => false %>
  <% if params[:controller] == 'works'%>
    <%= stylesheet_link_tag 'comments', "data-turbolinks-track" => false %>
  <% end %>
  <%= stylesheet_link_tag 'announcements', "data-turbolinks-track" => true %>
  <%= javascript_include_tag 'application' %>
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js' integrity='sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==' crossorigin='anonymous'></script>

  <!-- meta tags -->
  <meta name="theme-color" content="#99ff99">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <%= csrf_meta_tags %>

  <!-- favicon -->
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <!-- End favicon -->
</head>
<body>

  <!-- start header -->
  <% if browser.device.mobile? %>
    <%= render 'layouts/mobileheader' %>
  <% else %>
    <%= render 'layouts/header' %>
  <% end %>
  <!-- end header -->

  <div id='main'>

    <% unless params[:controller] == 'errors' || browser.device.mobile? %>
      <!-- start sidebar -->
      <div id='sidebar'>
        <%= render 'layouts/sidebar' %>
      </div>
      <!-- end sidebar -->
    <% end %>

    <!-- start content -->
    <% if browser.device.mobile? %>
      <div id='content-mobile'>
    <% elsif params[:controller] == 'errors' %>
      <div id='content-error'>
    <% else %>
      <div id='content'>
    <% end %>
      <%= yield %>
    </div>
    <!-- end content -->

    <% if flash[:error] %>
      <!-- start errors -->
      <div id='flash-error<%= mobile_modifier %>'>
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>Error!</strong> <%= flash[:error] %>
        </div>
      </div>
      <!-- end errors -->
    <% end %>

    <% if flash[:success] %>
      <!-- start errors -->
      <div id='flash-success<%= mobile_modifier %>'>
        <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>Success!</strong> <%= flash[:success] %>
        </div>
      </div>
      <!-- end errors -->
    <% end %>

    <% if flash[:notice] %>
      <!-- start notice -->
      <div id='flash-notice<%= mobile_modifier %>'>
        <div class="alert alert-warning alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>Wait!</strong> <%= flash[:notice] %>
        </div>
      </div>
      <!-- end notice -->
    <% end %>

    <% if flash[:alert] %>
      <!-- start notice -->
      <div id='flash-alert<%= mobile_modifier %>'>
        <div class="alert alert-warning alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>Wait!</strong> <%= flash[:alert] %>
        </div>
      </div>
      <!-- end notice -->
    <% end %>
  </div>

  <% if browser.device.mobile? %>
    <%= render 'layouts/footer' %>
  <% end %>

</body>
</html>
